body {
	background: url(../images/bckgrnd.png) repeat left top;
	font: normal 13px/16px Arial, Helvetica, sans-serif;
}

.resize {
	margin: 0 auto;
	padding: 0;
	background-color: white;
	border-radius: 5px;
	z-index: 2;
	width: 980px;
}

.header {
	overflow: auto;
}



.tel {
	float: right;
	text-align: right;
}

.content {
	display: block;
	margin: 0 auto;
	overflow: auto;
}

.rectangle {
	background: #023875;
	border-radius: 5px;
	margin: 0;
	padding: 11px 20px;
	font-size: 14px;
	line-height: 20px;
	color: white;
}

.info {
	width: 550px;
	float: left;
	margin: 10px;
}

.menu {
	width: 350px;
	float: right;
	margin: 10px;
}

h1 {
	font-family: "Arial Regular", sans-serif;
	color: #023875;
}

h2 {
	font-family: "Arial Regular", sans-serif;
	font-size: 24px;
	color: #023875;
}

h3 {
	font-family: "Arial Regular", sans-serif;
	font-size: 18px;
	color: white;
	background-color: #023875;
	padding: 10px;
}

.txt {
	font-family: "Arial Regular", sans-serif;
	color: #023875;
	font-size: 18px;
	padding: 5px;
	margin: 0;
}

p {
	font-family: "Arial Regular", sans-serif;
	font-size: 13px;
	color: black;
}

.footer {
	box-sizing: inherit;
}

.BL {
	text-transform: uppercase;
	padding: 0 10px;
}



/* logo */
.logo {
	float: left;
	width: 400px;
	color: black;
	text-decoration: none;

}

.logo img {
	float: right;
}

.logo:first-line {
	font-size: 22px;
	line-height: 26px;
	color: #023875;
}

.logo strong {
	display: block;
	font-size: 32px;
	line-height: 40px;
	color: #023875;
}
